
PORT=1000

MONGO_URI=mongodb+srv://user*****:dvbhe58****@cluster0.dsaul39.mongodb.net/?appName=Cluster0


JWT_SECRET=Zfbuvb*****
JWT_REFRESH_SECRET=Wervffx****


APP_EMAIL_ADDRESS=omarllh****@gmail.com
APP_EMAIL_PASSWORD=cscgj******